/* Mobile Menu */

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191e1e;
  color: #ccc;
  z-index: 99;
  padding: 3rem;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.mobileMenuActive {
  transform: translateY(0);
}
