/* Mobile Menu */

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191e1e;
  color: #ccc;
  z-index: 99;
  padding: 3rem;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.mobileMenuActive {
  transform: translateY(0);
}

.mobileMenuItem {
  color: var(--white);
  cursor: pointer;
  position: relative;
  font-weight: 400;
  list-style-type: none;
}

.mobileMenuTitle {
  display: block;
  border-bottom: 1px solid #ffffff66;
  margin: 1rem 0;
  font-size: 2rem;
  height: 60px;
}

.menuItemIndicator {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 15px;
  height: 15px;
  border: solid var(--mobile-menu-grey);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.2s ease-out;
}

.mobileMenuItemActive .menuItemIndicator {
  transform: rotate(45deg) translate(5px, 10px) scale(-1);
}

.mobileMenuItem:hover {
  color: var(--submenu-item-hover);
}

.submenu {
  display: none;
  list-style: none;
  box-sizing: inherit;
}

.submenuActive {
  display: block;
}

.submenuItem a {
  font-size: 1rem;
  color: var(--mobile-menu-grey);
  text-decoration: none;
  padding: 3.2px 0;
  font-size: 1.2rem;
  display: block;
}

.submenuItem a:hover {
  color: #9fc937;
}

/* Hamburger Styles */

.hamburger {
  display: none;
  cursor: pointer;
  height: 48px;
  position: relative;
  width: 48px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  outline: none;
  z-index: 1001;
}

.hamburgerLine {
  background: currentcolor;
  height: 2px;
  width: 24px;
  position: absolute;
  left: 12px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
}

.hamburgerLine:nth-child(1) {
  top: 16px;
}

.hamburgerLine:nth-child(2) {
  top: 23px;
}

.hamburgerLine:nth-child(3) {
  top: 30px;
}

.hamburgerActive {
  color: var(--white);
}

.hamburgerActive .hamburgerLine:nth-child(1) {
  transform: rotate(-45deg) translate(-4.93px, 4.93px);
}

.hamburgerActive .hamburgerLine:nth-child(2) {
  transform: scaleX(0);
}

.hamburgerActive .hamburgerLine:nth-child(3) {
  transform: rotate(45deg) translate(-4.93px, -4.93px);
}

@media (max-width: 1080px) {
  .hamburger {
    display: block;
  }
}
