.projects {
  padding: 60px 0;
  background-color: var(--light-blue);
  line-height: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.projectsContainer {
  max-width: 1084.796px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .projectsContainer {
    grid-template-columns: 1fr;
  }
}
