.hamburger {
  display: none;
  cursor: pointer;
  height: 48px;
  position: relative;
  width: 48px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  outline: none;
  z-index: 1001;
}

.hamburgerLine {
  background: currentcolor;
  height: 2px;
  width: 24px;
  position: absolute;
  left: 12px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
}

.hamburgerLine:nth-child(1) {
  top: 16px;
}

.hamburgerLine:nth-child(2) {
  top: 23px;
}

.hamburgerLine:nth-child(3) {
  top: 30px;
}

.hamburgerActive {
  color: var(--white);
}

.hamburgerActive .hamburgerLine:nth-child(1) {
  transform: rotate(-45deg) translate(-4.93px, 4.93px);
}

.hamburgerActive .hamburgerLine:nth-child(2) {
  transform: scaleX(0);
}

.hamburgerActive .hamburgerLine:nth-child(3) {
  transform: rotate(45deg) translate(-4.93px, -4.93px);
}

@media (max-width: 1080px) {
  .hamburger {
    display: block;
  }
}
